header.app-header.navbar
  button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type='button', data-toggle='sidebar-show')
    span.navbar-toggler-icon
  a.navbar-brand(href='#')
    img.navbar-brand-full(src=logos + 'logo_2.webp', width='89', height='25', alt='CoreUI Logo')
    img.navbar-brand-minimized(src=logos + 'logo.webp', width='30', height='30', alt='CoreUI Logo')
  button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button', data-toggle='sidebar-lg-show')
    span.navbar-toggler-icon
  if !starter
    ul.nav.navbar-nav.d-md-down-none
      li.nav-item.px-3
        a.nav-link(href='#') Dashboard
      li.nav-item.px-3
        a.nav-link(href='#') Users
      li.nav-item.px-3
        a.nav-link(href='#') Settings
    ul.nav.navbar-nav.ml-auto
      li.nav-item.dropdown.d-md-down-none
        a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          i.icon-bell
          span.badge.badge-pill.badge-danger 5
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg
          .dropdown-header.text-center
            strong You have 5 notifications
          a.dropdown-item(href='#')
            i.icon-user-follow.text-success
            |  New user registered
          a.dropdown-item(href='#')
            i.icon-user-unfollow.text-danger
            |  User deleted
          a.dropdown-item(href='#')
            i.icon-chart.text-info
            |  Sales report is ready
          a.dropdown-item(href='#')
            i.icon-basket-loaded.text-primary
            |  New client
          a.dropdown-item(href='#')
            i.icon-speedometer.text-warning
            |  Server overloaded
          .dropdown-header.text-center
            strong Server
          a.dropdown-item(href='#')
            .text-uppercase.mb-1
              small
                b CPU Usage
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 348 Processes. 1/4 Cores.
          a.dropdown-item(href='#')
            .text-uppercase.mb-1
              small
                b Memory Usage
            span.progress.progress-xs
              .progress-bar.bg-warning(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 11444GB/16384MB
          a.dropdown-item(href='#')
            .text-uppercase.mb-1
              small
                b SSD 1 Usage
            span.progress.progress-xs
              .progress-bar.bg-danger(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
            small.text-muted 243GB/256GB
      li.nav-item.dropdown.d-md-down-none
        a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          i.icon-list
          span.badge.badge-pill.badge-warning 15
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg
          .dropdown-header.text-center
            strong You have 5 pending tasks
          a.dropdown-item(href='#')
            .small.mb-1
              | Upgrade NPM & Bower
              span.float-right
                strong 0%
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 0%', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item(href='#')
            .small.mb-1
              | ReactJS Version
              span.float-right
                strong 25%
            span.progress.progress-xs
              .progress-bar.bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item(href='#')
            .small.mb-1
              | VueJS Version
              span.float-right
                strong 50%
            span.progress.progress-xs
              .progress-bar.bg-warning(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item(href='#')
            .small.mb-1
              | Add new layouts
              span.float-right
                strong 75%
            span.progress.progress-xs
              .progress-bar.bg-info(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item(href='#')
            .small.mb-1
              | Angular 2 Cli Version
              span.float-right
                strong 100%
            span.progress.progress-xs
              .progress-bar.bg-success(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
          a.dropdown-item.text-center(href='#')
            strong View all tasks
      li.nav-item.dropdown.d-md-down-none
        a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          i.icon-envelope-letter
          span.badge.badge-pill.badge-info 7
        .dropdown-menu.dropdown-menu-right.dropdown-menu-lg
          .dropdown-header.text-center
            strong You have 4 messages
          a.dropdown-item(href='#')
            .message
              .py-3.mr-3.float-left
                .avatar
                  img.img-avatar(src=usersImgs + '2.webp', alt='admin@bootstrapmaster.com')
                  span.avatar-status.badge-success
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 Just now
              .text-truncate.font-weight-bold
                span.fa.fa-exclamation.text-danger
                |  Important message
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mr-3.float-left
                .avatar
                  img.img-avatar(src=usersImgs + '2.webp', alt='admin@bootstrapmaster.com')
                  span.avatar-status.badge-warning
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 5 minutes ago
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mr-3.float-left
                .avatar
                  img.img-avatar(src=usersImgs + '2.webp', alt='admin@bootstrapmaster.com')
                  span.avatar-status.badge-danger
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 1:52 PM
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item(href='#')
            .message
              .py-3.mr-3.float-left
                .avatar
                  img.img-avatar(src=usersImgs + '2.webp', alt='admin@bootstrapmaster.com')
                  span.avatar-status.badge-info
              div
                small.text-muted John Doe
                small.text-muted.float-right.mt-1 4:03 PM
              .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
              .small.text-muted.text-truncate
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          a.dropdown-item.text-center(href='#')
            strong View all messages
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
          - var imgDir = usersImgs
          if admin.img === 'avatar.webp'
            - var imgDir = logos
          img.img-avatar(src=imgDir + admin.img, alt=admin.fname + ' ' + admin.lname)
        .dropdown-menu.dropdown-menu-right
          .dropdown-header.text-center
            strong Account
          a.dropdown-item(href='#')
            i.fa.fa-bell-o
            |  Updates
            span.badge.badge-info 42
          a.dropdown-item(href='#')
            i.fa.fa-envelope-o
            |  Messages
            span.badge.badge-success 42
          a.dropdown-item(href='#')
            i.fa.fa-tasks
            |  Tasks
            span.badge.badge-danger 42
          a.dropdown-item(href='#')
            i.fa.fa-comments
            |  Comments
            span.badge.badge-warning 42
          .dropdown-header.text-center
            strong Settings
          a.dropdown-item(href=host + '/admin/profile')
            i.fa.fa-user
            |  Profile
          a.dropdown-item(href='#')
            i.fa.fa-wrench
            |  Settings
          a.dropdown-item(href='#')
            i.fa.fa-usd
            |  Payments
            span.badge.badge-secondary 42
          a.dropdown-item(href='#')
            i.fa.fa-file
            |  Projects
            span.badge.badge-primary 42
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fa.fa-shield
            |  Lock Account
          a.dropdown-item(href=host + '/admin/logout')
            i.fa.fa-lock
            |  Logout
  button.navbar-toggler.aside-menu-toggler.d-md-down-none(type='button', data-toggle='aside-menu-lg-show')
    span.navbar-toggler-icon
  button.navbar-toggler.aside-menu-toggler.d-lg-none(type='button', data-toggle='aside-menu-show')
    span.navbar-toggler-icon
