//-- Scripts
script(src=js + ds + 'libs' + ds + 'jquery.min.js')
script(src=js + ds + 'libs' + ds + 'popper.min.js')
script(src=js + ds + 'libs' + ds + 'bootstrap.min.js')
script(src=js + ds + 'libs' + ds + 'all.min.js')
script(src=js + ds + 'libs' + ds + 'pace.min.js')
script(src=js + ds + 'libs' + ds + 'perfect-scrollbar.min.js')
script(src=js + ds + 'libs' + ds + 'coreui.min.js')
block scripts
//- if ajax
//-   script.
//-     $('#ui-view').ajaxLoad();
//-     $(document).ajaxComplete(function() {
//-       Pace.restart()
//-     });
