//-- Scripts
script(src=jsLibs + 'jquery.min.js')
script(src=jsLibs + 'popper.min.js')
script(src=jsLibs + 'bootstrap.min.js')
script(src=jsLibs + 'all.min.js')
script(src=jsLibs + 'pace.min.js')
script(src=jsLibs + 'perfect-scrollbar.min.js')
script(src=jsLibs + 'coreui.min.js')
block scripts
//- if ajax
//-   script.
//-     $('#ui-view').ajaxLoad();
//-     $(document).ajaxComplete(function() {
//-       Pace.restart()
//-     });
