//-- Scripts
script(src=jsLibs + 'jquery.min.js')
script(src=jsLibs + 'popper.min.js')
script(src=jsLibs + 'bootstrap.min.js')
script(src=jsLibs + 'all.min.js')
script(src=jsLibs + 'coreui.min.js')
block scripts
