//-- Icons
link(href=css + ds + 'libs' + ds + 'coreui-icons.min.css', rel='stylesheet')
link(href=css + ds + 'libs' + ds + 'flag-icon.min.css', rel='stylesheet')
link(href=css + ds + 'libs' + ds + 'all.min.css', rel='stylesheet')
link(href=css + ds + 'libs' + ds + 'simple-line-icons.css', rel='stylesheet')
link(href=css + ds + 'libs' + ds + 'coreui.min.css', rel='stylesheet')
//-- Styles
block styles
