//-- Icons
link(href=cssLibs + 'coreui-icons.min.css', rel='stylesheet')
link(href=cssLibs + 'flag-icon.min.css', rel='stylesheet')
link(href=cssLibs + 'all.min.css', rel='stylesheet')
link(href=cssLibs + 'simple-line-icons.css', rel='stylesheet')
link(href=cssLibs + 'coreui.min.css', rel='stylesheet')
//-- Styles
block styles
