extends ../../layout.pug

block title
  title Add new User

block styles
  link(href=adminCss + 'users' + ds + 'new.css', rel='stylesheet')
  link(href=cssLibs + 'bootstrap-datepicker.min.css', rel='stylesheet')

block scripts
  script(src=adminJs + 'users' + ds + 'new.js')
  script(src=jsLibs + 'bootstrap-datepicker.min.js')

block view
  form(action=host + '/admin/users/add', method='post', autocomplete='off')
    .card
      .card-header
        strong User insert
      .card-body
        .row
          .col-md-6
            .form-group
              label(for='firstname') First name
              input.form-control#fname(type='text', name='fname', placeholder='Enter your first name')
            .form-group
              label(for='lastname') Last name
              input.form-control#lname(type='text', name='lname', placeholder='Enter your last name')
            .form-group
              label(for='username') Username
              input.form-control#username(type='text', name='username', placeholder='Enter username')
            .form-group
              label(for='email') Email
              input.form-control#email(type='text', name='email', placeholder='Enter your email')
            .form-group
              label(for='sex') Sex
              select.form-control#sex(name='sex')
                option()
                option(value='male') Male
                option(value='female') Female
            .form-group
              label(for='birthday') Birthday
              input.form-control.date#birthday(type='text', name='birthday', placeholder='Enter your birthday', autofilee)
          .col-sm-6
            .form-group
              label(for='country') Country
              input.form-control#country(type='text', name='country', placeholder='Country name')
            .form-group
              label(for='state') State
              input.form-control#state(type='text', name='state', placeholder='State name')
            .form-group
              label(for='city') City
              input.form-control#city(type='text', name='city', placeholder='City name')
            .form-group
              label(for='street') Street
              input.form-control#street(type='text', name='street', placeholder='Street name')
            .form-group
              label(for='postal-code') Postal Code
              input.form-control#postal-code#zip(type='text', name='zip', placeholder='Postal Code')
            .form-group
              label(for='additional') Additional
              textarea.form-control#additional(name='additional', placeholder='More details', rows='5')
      .card-footer
        button.btn.btn-sm.btn-primary(type='submit') Add
