extends ../../_layout.pug

block title
  title User

block styles
  link(href=cssLibs + 'bootstrap-datepicker.min.css', rel='stylesheet')
  link(href=cssAdmin + 'users/user.css', rel='stylesheet')

block scripts
  script(src=jsAdmin + 'users/user.js')

block header-right-unser-profile
  a.btn(href=host + '/admin/users/new')
    i.fas.fa-user-plus

block view
  .row
    .col-xl-5.col-lg-12
      .card
        .card-header
          i.fa.fa-align-justify
          | &nbsp;Informations
        .card-body
          table.table.table-responsive-sm.table-bordered
            tbody
              tr
                td ID
                td
                  strong #{'#' + user.id}
              tr
                td Username
                td.editable(data-type='text', data-name='username', data-value=user.username)= user.username
              tr
                td First Name
                td.editable(data-type='text', data-name='fname', data-value=user.fname)= user.fname
              tr
                td Last Name
                td.editable(data-type='text', data-name='lname', data-value=user.lname)= user.lname
              tr
                td Gender
                td.editable(data-name='gender', data-tag='select', data-options='test,male,female', data-value=user.gender)= user.gender
              tr
              tr
                td Birthday
                td.editable(data-type='date', data-name='birthday', data-value=user.birthday)= user.birthday
              tr
                td E-Mail
                td.editable(data-type='text', data-name='email', data-value=user.email)= user.email
              tr
                td Password
                td
                  button.btn.btn-warning.mb-1(type='button', data-toggle='modal', data-target='#newPasswordModel') Generate new password
              tr
                td Registration
                td= user.registration
              tr
                td Status
                td
                  if user.status === '0'
                    span.badge.badge-danger Inactive
                  else if user.status === "1"
                    span.badge.badge-warning Pending
                  else if user.status === "2"
                    span.badge.badge-success Active
                  if user.status === '0'
                    button.btn.btn-success.mb-1(type='button', data-toggle='modal', data-target='#successModal') Active
                    button.btn.btn-warning.mb-1(type='button', data-toggle='modal', data-target='#warningModal') Pending
                  else if user.status === "1"
                    button.btn.btn-success.mb-1(type='button', data-toggle='modal', data-target='#successModal') Active
                    button.btn.btn-danger.mb-1(type='button', data-toggle='modal', data-target='#dangerModal') Disable
                  else if user.status === "2"
                    button.btn.btn-warning.mb-1(type='button', data-toggle='modal', data-target='#warningModal') Pending
                    button.btn.btn-danger.mb-1(type='button', data-toggle='modal', data-target='#dangerModal') Disable
                tr
                  td Image
                  td
                    if user.img !== 'avatar.webp'
                      img.img-thumbnail.target-img-box(src=usersImgs + user.img, alt='')
    .col-xl-4.col-lg-12
      .card
        .card-header
          i.fa.fa-align-justify
          |  &nbsp;Address
        .card-body
          table.table.table-responsive-sm.table-bordered
            tbody
              tr
                td Country
                td.editable(data-name='country', data-tag='select', data-options=countries_options, data-value=user.country, data-icon=user.country_icon)
                  i.flag-icon.h4.mb-0(title=user.country, class=user.country_icon)
                  = user.country
              tr
                td State
                td.editable(data-type='text', data-name='state', data-value=user.state)= user.state
              tr
                td Zip
                td.editable(data-type='number', data-name='zip', data-value=user.zip)= user.zip
              tr
                td City
                td.editable(data-type='text', data-name='city', data-value=user.city)= user.city
              tr
                td Street
                td.editable(data-type='text', data-name='street', data-value=user.street)= user.street
              tr
                td House Number
                td.editable(data-type='number', data-name='house_number', data-value=user.house_number)= user.house_number
              tr
                td Additional
                td.editable(data-type='text', data-name='additional', data-tag='textarea', data-value=user.additional)= user.additional
    .col-xl-3.col-lg-12
      .card
        .card-header
          i.fa.fa-align-justify
          | &nbsp;Activities
        .card-body
          table.table.table-responsive-sm.table-bordered
            tbody
              tr
                td  Last Login
                td
                  if user.last_login
                    = user.last_login
                  else
                    | Unknown
              tr
                td  Last Logout
                td
                  if user.last_logout
                    = user.last_logout
                  else
                    | Unknown
              tr
                td Now
                if user.is_login
                  td
                    span.badge.badge-success online
                else
                  td
                    span.badge.badge-danger offline
  .modal.fade#successModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-success(role='document')
      .modal-content
        .modal-header
          h4.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p One fine body…
        .modal-footer
          form.form-status(action=host + '/admin/users/update/' + user.id, method='POST')
            input(type='hidden', name='status', value='2')
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-success(type='submit') Save changes
  .modal.fade#dangerModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', style='display: none;', aria-hidden='true')
    .modal-dialog.modal-danger(role='document')
      .modal-content
        .modal-header
          h4.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p One fine body…
        .modal-footer
          form.form-status(action=host + '/admin/users/update/' + user.id, method='POST')
            input(type='hidden', name='status', value='0')
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-danger(type='submit') Save changes
  .modal.fade#warningModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-warning(role='document')
      .modal-content
        .modal-header
          h4.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p One fine body…
        .modal-footer
          form.form-status(action=host + '/admin/users/update/' + user.id, method='POST')
            input(type='hidden', name='status', value='1')
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-warning(type='submit') Save changes
  .modal.fade#newPasswordModel(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-warning(role='document')
      .modal-content
        .modal-header
          h4.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p One fine body…
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-warning(type='button') Save changes
  .img-box
    .img-card
      .img
        .img-box-close
          i.fas.fa-times-circle
        img#big-img(alt='')
