extends ../../layout.pug

block title
  title Users

block styles
  link(href=adminCss + 'users' + ds + 'users.css', rel='stylesheet')
  link(href=cssLibs + 'bootstrap-datepicker.min.css', rel='stylesheet')

block scripts
  script(src=adminJs + 'users' + ds + 'users.js')
  script(src=jsLibs + 'bootstrap-datepicker.min.js')

block header-right-unser-profile
  a.btn(href=host + '/admin/users/new')
    i.fas.fa-user-plus

block view
  .filter
    span.filter-icon
      | Filter
      i.fas.fa-chevron-up
    form(action=host + '/admin/users/filter', method='post', autocomplete='off')
      .row
        .form-group.col-md-2
          label.col-form-label Status
          .col-form-label
            .form-check.form-check-inline.mr-1
              input.form-check-input#inline-checkbox1(type='checkbox', name='active', value='1')
              label.form-check-label(for='inline-checkbox1') Ative
            .form-check.form-check-inline.mr-1
              input.form-check-input#inline-checkbox2(type='checkbox', name='pending', value='1')
              label.form-check-label(for='inline-checkbox2') Pending
            .form-check.form-check-inline.mr-1
              input.form-check-input#inline-checkbox3(type='checkbox', name='inactive', value='1')
              label.form-check-label(for='inline-checkbox3') Inactive
            .form-check.form-check-inline.mr-1
              input.form-check-input#inline-checkbox3(type='checkbox', name='online', value='1')
              label.form-check-label(for='inline-checkbox3') Online
            .form-check.form-check-inline.mr-1
              input.form-check-input#inline-checkbox3(type='checkbox', name='offline', value='1')
              label.form-check-label(for='inline-checkbox3') Offline
        .form-group.col-md-2
          label.col-form-label Sex
          select.form-control#select1(name='sex')
            option(value='0')
            option(value='male') Male
            option(value='female') Female
        .form-group.col-md-2
          label.col-form-label Code
          input.form-control#postal-code(type='number', name='zip', placeholder='Postal Code')
        .form-group.col-md-2
          label.col-form-label Country
          select.form-control#select1(name='country')
            option(value='0')
            each country in countries
              option(value=country)= country
        .form-group.col-md-4
          label.col-form-label Register am
          .row
            .col-md-6
              input.form-control#register-from(type='text', name='registration_from', placeholder='from')
            .col-md-6
              input.form-control#register-to(type='text', name='registration_to', placeholder='to', disabled)
      button.btn.btn-secondary.mb-1(type='submit') Search
  table.table.table-responsive-sm.table-hover.table-outline.mb-0
    thead.thead-light
      tr
        th.tr-id
          .md-form.search-input
            input.form-control#idInput(type='text', placeholder='ID', aria-label='Search', autocomplete='off')
        th.text-center
          i.icon-people
        th.tr-users
          .md-form.search-input
            input.form-control#userInput(type='text', placeholder='User', aria-label='Search', autocomplete='off')
        th.text-center.tr-country
          | Country
        th.text-center.tr-zip
          | Zip
        th.text-center.tr-status
          | Status
        th.text-center.tr-status
          | sex
    tbody
      each user in users
        tr
          td.text-center.user-id
            strong #{'#' + user.id}
          td.text-center
            .avatar
              - var imgDir = usersImgs
              if user.img === 'avatar.webp'
                - var imgDir = logos
              img.img-avatar(src=imgDir + user.img, alt='admin@bootstrapmaster.com')
              if user.is_login
                span.avatar-status.badge-success
              else
                span.avatar-status.badge-danger
          td.user-name
            div
              a(href=host + '/admin/users/' + user.id) #{user.fname  + ' ' +  user.lname}
            .small.text-muted
              if user.new
                span.badge.badge-success new
                | &nbsp;
              | Registered: #{user.registration}
          td.text-center.user-country
            if user.country_Icon
              i.flag-icon.h4.mb-0(title=user.country, class=user.country_Icon, data-country=user.country)
          td.text-center.user-zip= user.zip
          td.text-center.user-status
            if user.status === '0'
              span.badge.badge-danger(data-status=user.status) Inactive
            else if user.status === '1'
              span.badge.badge-warning(data-status=user.status) Pending
            else if user.status === '2'
              span.badge.badge-success(data-status=user.status) Active
          td.text-center.user-status
            if user.sex === 'male'
              i.fas.fa-mars
            else if user.sex === 'female'
              i.fas.fa-venus
