extends ../_layout.pug

block styles
  link(href=cssWebsite + '404.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + '404.js')

block view
  .notfound
    h1=ops
    div
      hr
      p.quote=quote
    a(href='/')=goHome
